section#authors
	.container
		h3.general_title.general_title_authors о 
			span тренерах
			|&nbsp;экспресс-курса:
		.row
			.col-md-4
				.janna_img
			.col-md-8
				h4.author_title Жанна Абрамова
				p.author_text Жанна Абрамова — мастер практической психологии и технологий осознанности, коуч, системный расстановщик, процессор техники РПТ, специалист по метафорическим картам, эксперт TV-радио-шоу, информационных передач, блоггер, автор тренинговых программ и книг по женской психологии
				p.author_text Жанна более 10 лет работает с женщинами и является экспертом в области отношений между мужчиной и женщиной. Также, постоянно занимается работой с детьми и социальными проектами
				ul.author_list
					li Мастер практической психологии, факультет клинической психологии Академии при президенте РФ РАНХиГС
					li Специалист по метафорическим картам (МАК)
					li Системный расстановщик, изучала семейную психотерапию в ИИСТ
					li Процессор Техники РПТ (Саймон Роуз) , Тетахилинга (THInK)
					li Изучала гипнотерапию, Московский институт гипноза
					li Коуч, женский тренер, автор трансформационных программ «Анатомия Отношений», «Управление реальностью», «Мышление будущего», «От перца к сердцу», «Как получать подарки», «МАК – сам себе доктор», «Замуж за 2 недели», «Деньги в голове», «Дуэль с ленью», «Возврат ваших вложений», «Третий лишний или как устранить соперницу»
		.row
			.col-md-6.col-sm-12.col-md-push-3.col-sm-push-0
				.anna_nika
			.col-md-3.col-sm-6.col-md-pull-6.col-sm-pull-0
				h4.author_title Вероника Юрина
					small Проектор 3/5, Крест Чаша Любви.
				ul.author_list 
					li Профессиональный тренер и преподаватель
					li Дипломированный психолог
					li Опыт работы с людьми и консультирования — 10 лет
					li Обучала такие компании как: «ТрансНефтьЭнерго», Rambler, HH, Krutoy Media, Hearst Shkulev Media, ПГК, «Бин-Банк», Mail Group и многие другие
			.col-md-3.col-sm-6
				h4.author_title Анна Ролева
					small Проектор 3/5, Крест 4-х путей.
				ul.author_list
					li Автор и ведущая тренингов по предназначению
					li Сертифицированный регрессолог (погружение в прошлые жизни)
					li Проводит индивидуальные консультации и обучение по Механике Человека
					li Лидер и создатель проекта Cosmos
