mixin for_item(cl, icon_cl,p)
	.for_item(class= cl)
		.for_item_img(class= icon_cl)
		p.for_item_text= p

section#for
	.container
		h4.for_title Выездной трасформационный экспресс-курс имеет практическую и обучающую направленность
		p.for_text За несколько дней практики вы проработаете застревание в ключевых жизненных сферах: здоровье и внешность, любовь и отношения, карьера и деньги
		p.for_text Вы освоите новую систему практик, которая позволит вам справиться с любой жизненной ситуацией и перейти на новый уровень осознанности и энергетики для достижения и реализации всех ваших самых заветных стремлений!
		h3.general_title.general_title_for Вам 
			span необходимо
			|&nbsp;пройти этот тренинг, если:
		.row
			.col-md-4.col-sm-4
				+for_item('for_item_1','for_item_img_1','Чувствуете, что вас поглотил быт и рутина, ощущение, что вы перестали развиваться, ничего не меняется и не улучшается само по себе')
			.col-md-4.col-sm-4
				+for_item('for_item_2','for_item_img_2','Застряли в каких-то сложных ситуациях, необходимо найти выход, хочется трансформации и перезагрузки')
			.col-md-4.col-sm-4
				+for_item('for_item_3','for_item_img_3','Недовольны собой и своей жизнью; или же вам все нравится, но хочется прорыва и воплощения глубинных желаний вашей души')
		.row
			.col-md-4.col-sm-4
				+for_item('for_item_4 for_item_green','for_item_img_4','Хотите отлично провести время, позаниматься собой и поработать над дизайном своей жизни в компании единомышленников и опытных наставников')
			.col-md-4.col-sm-4
				+for_item('for_item_5 for_item_green','for_item_img_5','Неудовлетворенны собой, своей жизнью и своими текущими результатами; хочется обновления, трансформации, вдохновения, новых инсайтов и свежей энергии')
			.col-md-4.col-sm-4
				+for_item('for_item_6 for_item_green','for_item_img_6','Не любите и не принимаете себя; есть ситуации, которые вы самостоятельно не можете проработать и отпустить')
		.row
			.col-md-4.col-sm-4
				+for_item('for_item_7','for_item_img_7','Чувствуете, что молодость и красота начинают испаряться, хочется поработать с темами внешности и здоровья')
			.col-md-4.col-sm-4
				+for_item('for_item_8','for_item_img_8','Чувствуете неудовлетворенность в любовной сфере, хочется улучшить отношения с партнером и близкими')
			.col-md-4.col-sm-4
				+for_item('for_item_9','for_item_img_9','Понимаете, что старый способ смотреть на мир не работает и вам хотелось бы лучше освоить инструменты дизайна человека и генных ключей')
		.row
			.col-md-4.col-sm-4
				+for_item('for_item_10 for_item_green','for_item_img_10','Частенько застреваете в отрицательных эмоциях и негативных состояниях, понимаете, что у вас есть негативные установки и энергетические блоки, которые нужно проработать, но самостоятельно не получается')
			.col-md-4.col-sm-4
				+for_item('for_item_11 for_item_green','for_item_img_11','Осознаете, что помимо явных блоков и проблем, есть скрытые негативные факторы, которые блокируют энергию процветания, ваш любовный и творческий потенциал. Вы хотите их найти и проработать')
			.col-md-4.col-sm-4
				+for_item('for_item_12 for_item_green','for_item_img_12','Устали быть чьим-то последователем и подражателем, вам хочется найти свой уникальный стиль, прокачать силовое поле и стать магнитом для других людей и счастливых жизненных обстоятельств!')
		a.button.button_green(href="#prices") Участвовать