mixin get_item(cl,h4,p)
	.get_item(class= cl)
		h4.get_item_title= h4
		p.get_item_text= p

section#get
	.container
		h3.general_title.general_title_get Что Вы увезете с собой как 
			span результат Вашей работы
			|&nbsp;на экспресс-курсе?
		.row
			.col-md-6.col-sm-6
				+get_item('get_item_1','Получите новую уникальную систему практик.','Ваш арсенал обогатят упражнения и техники из дизайна человека, генных ключей, расстановок, нейротрансформинга, полевые, пространственные, энергетические и медитативные практики, а также практики по работе с телом, установками и многие другие древние и современные методики от авторов курса Анны Ролевой и Вероники Юриной')
			.col-md-6.col-sm-6
				+get_item('get_item_2','Вы пройдете трансперсональные техники и практики,','которые позволят вам повзаимодействовать с вашим высшим Я, что подарит вам новый трансформационный опыт, другой способ смотреть на себя и вещи, вы откроете внутри себя бесконечный источник вдохновения и энергии')
		.row
			.col-md-6.col-sm-6
				+get_item('get_item_3','Вы сможете проработать и отпустить сложные жизненные ситуации,','многие из которых являются следствием вашей генетической травмы. Вместе мы проработаем травматический материал и вы получите набор новых техник, который позволит вам перестать быть жертвой внутренней боли и выйти в позицию мастера и хозяина собственной жизни')
			.col-md-6.col-sm-6
				+get_item('get_item_4','Вы получите мощный заряд позитива, энергии и мотивации от групповых практик,','которые лучше всего разблокируют ваш спящий потенциал, получите много техник и обратной связи от ведущих курса, проживете незабываемый опыт от знакомства с собой подлинным, отпускания прошлого, зацепок и обид, сдвига восприятия, трансформации мировоззрения и выхода на новый уровень осознанности и энергетики')
		.row
			.col-md-10.col-sm-10.col-md-offset-1.col-sm-offset-1
				+get_item('get_item_5','Обязательно приходите на тренинг с намерением и запросом,','тогда вы сможете особенно глубоко проработать одну из ключевых сфер вашей жизни, получить мощный ресурс и стратегию воплощения вашего заветного желания максимально быстрым и комфортным для вас способом!')
		a.button.button_green.button_get(href="#prices") Участвовать