section#main
	.container
		include header
		.main_container
			p.pre Мастерский экспресс-курс
			h1.main_title «Освой технологию работы с людьми по методу МВ»
			p.main_info Начало активационного интенсива: 
				span с 15 по 21 июня 
			p.main_info Авторы активационного интенсива:
			.main_authors
				.row
					.col-md-4.col-sm-4
						.main_authors_img.main_authors_img_1
						p.main_authors_name Жанна Абрамова
					.col-md-4.col-sm-4
						.main_authors_img.main_authors_img_2
						p.main_authors_name Анна Ролева
					.col-md-4.col-sm-4
						.main_authors_img.main_authors_img_3
						p.main_authors_name Вероника Юрина
			a.button.button_yellow(href="#prices") Участвовать