section#place
	.container
		.place_container
			h3.place_container_title Где пройдет экспресс-интенсив?
			p.place_container_text Интенсив проводится на территории 
				span санаторно-оздоровительного комплекса «Вятичи»
				|&nbsp; — удивительного уголка Калужской области, в котором царят природная красота и гармония
			.row
				.col-md-4.col-sm-4.col-xs-4
					.place_img.place_img_1
				.col-md-4.col-sm-4.col-xs-4
					.place_img.place_img_2
				.col-md-4.col-sm-4.col-xs-4
					.place_img.place_img_3
			a.button.button_yellow.button_place(href="#prices") Участвовать