section#plan
	.container
		h3.general_title.general_title_plan Как вы 
			span проживете
			|&nbsp; эти дни?
		.day.day_1
			.day_img.day_img_1
			.day_info
				h4.day_info_title День 1
				ul.day_info_list
					li Знакомство
					li Формирование запроса
					li Теория ДЧ, ГК и Силового поля
					li Выявление зацепок
					li Нахождение ключевых травматических эпизодов
					li Работа с телом
					li Групповые практики
					li Предназначение
					li Создание личной философии
				ul.day_info_list
					li Обнаружение ограничивающих установок
					li Нахождение неработающих элементов мировоззрения
					li Техника ресурсирование
					li Техника работы с минусовыми состояниями
					li Работа с линиями времени
					li Практика выгула теней
					li Работа с телом
					li Групповые практики
			.clearfix
		.day.day_2
			.day_img.day_img_2
			.day_info
				h4.day_info_title День 2
				ul.day_info_list
					li Здоровье, молодость, внешность
					li Работа с образами себя и «я» концептом
					li Восстановление родового потока энергии
					li Вторичные выгоды и трансформация негативных привычек
					li Массажные практики
					li Работа с телом
					li Групповые практики
				ul.day_info_list
					li Любовь, отношения, близость
					li Практика на выражение эмоций
					li Техника радикального прощения
					li Отпускание зацепок и старых связей
					li Практика «энергетический возврат инвестиций»
					li Интеграция логических уровней
					li Работа с телом
					li Групповые практики
			.clearfix
		.day.day_3
			.day_img.day_img_3
			.day_info
				h4.day_info_title День 3
				ul.day_info_list
					li Деньги, финансы, карьера
					li Теория фин термостата
					li Линия денег
					li Регрессия
				ul.day_info_list
					li Работа со стражем порога
					li Разблокировка денежного потока
					li Работа с телом
					li Групповые практики
			.clearfix
		a.button.button_green.button_plan(href="#prices") Участвовать