section#prices
	.container
		.buy
			.row
				.col-md-6.col-sm-6
					p.cost Стоимость
						span 69 900р.
					h3.right_now Записывайтесь прямо сейчас!
					a.button.button_yellow.button_cost(href="https://shop.mastervision.su/?r=ordering/cart/as1&id=3153&clean=true&lg=ru", target="_blank" ) Участвовать
				.col-md-6.col-sm-6
					.prepayment
						h4.prepaymant_title Акция!!!
						p.prepayment_text Платите 10 900 рублей, бонусом получаете 
							span#prepayment_bonus 4 100р.
							br
							| На счет зачисляется 
							span#prepayment_credited 15 000р.
						a.button.button_yellow.prepayment_button(href="https://shop.mastervision.su/?r=ordering/cart/as1&id=3151&clean=true&lg=ru" target="_blank")#prepayment_link Оплатить 10 900р.
