section#revs
	.container
		h3.general_title.general_title_revs 
			span Отзывы
			|  учеников:
		.row
			.col-md-6.col-sm-6
				#ray_revs.owl-carousel.owl-theme
					.ray_rev_item
						a( href="img/revs/ray_rev_2.png" data-fancybox="ray-revs")
							img.revs_img( src="img/revs/ray_rev_2.png" alt="Отзыв 2")
					.ray_rev_item
						a( href="img/revs/ray_rev_1.png" data-fancybox="ray-revs")
							img.revs_img( src="img/revs/ray_rev_1.png" alt="Отзыв 1")
					.ray_rev_item
						a( href="img/revs/ray_rev_3.png" data-fancybox="ray-revs")
							img.revs_img( src="img/revs/ray_rev_3.png" alt="Отзыв 3")
					.ray_rev_item
						a( href="img/revs/ray_rev_4.png" data-fancybox="ray-revs")
							img.revs_img( src="img/revs/ray_rev_4.png" alt="Отзыв 4")
					.ray_rev_item
						a( href="img/revs/ray_rev_5.png" data-fancybox="ray-revs")
							img.revs_img( src="img/revs/ray_rev_5.png" alt="Отзыв 5")
					.ray_rev_item
						a( href="img/revs/ray_rev_6.png" data-fancybox="ray-revs")
							img.revs_img( src="img/revs/ray_rev_6.png" alt="Отзыв 6")
			.col-md-6.col-sm-6
				#janna_revs.owl-carousel.owl-theme
					.janna_rev_item
						a( href="img/revs/janna_rev_1.jpg" data-fancybox="janna-revs")
							img.revs_img( src="img/revs/janna_rev_1.jpg" alt="Отзыв 1")
					.janna_rev_item
						a( href="img/revs/janna_rev_2.jpg" data-fancybox="janna-revs")
							img.revs_img( src="img/revs/janna_rev_2.jpg" alt="Отзыв 2")
					.janna_rev_item
						a( href="img/revs/janna_rev_3.jpg" data-fancybox="janna-revs")
							img.revs_img( src="img/revs/janna_rev_3.jpg" alt="Отзыв 3")
					.janna_rev_item
						a( href="img/revs/janna_rev_4.jpg" data-fancybox="janna-revs")
							img.revs_img( src="img/revs/janna_rev_4.jpg" alt="Отзыв 4")
					.janna_rev_item
						a( href="img/revs/janna_rev_5.jpg" data-fancybox="janna-revs")
							img.revs_img( src="img/revs/janna_rev_5.jpg" alt="Отзыв 5")
					.janna_rev_item
						a( href="img/revs/janna_rev_6.jpg" data-fancybox="janna-revs")
							img.revs_img( src="img/revs/janna_rev_6.jpg" alt="Отзыв 6")
					.janna_rev_item
						a( href="img/revs/janna_rev_7.jpg" data-fancybox="janna-revs")
							img.revs_img( src="img/revs/janna_rev_7.jpg" alt="Отзыв 7")
					.janna_rev_item
						a( href="img/revs/janna_rev_8.jpg" data-fancybox="janna-revs")
							img.revs_img( src="img/revs/janna_rev_8.jpg" alt="Отзыв 8")
					.janna_rev_item
						a( href="img/revs/janna_rev_9.jpg" data-fancybox="janna-revs")
							img.revs_img( src="img/revs/janna_rev_9.jpg" alt="Отзыв 9")
					.janna_rev_item
						a( href="img/revs/janna_rev_10.jpg" data-fancybox="janna-revs")
							img.revs_img( src="img/revs/janna_rev_10.jpg" alt="Отзыв 10")
					.janna_rev_item
						a( href="img/revs/janna_rev_11.jpg" data-fancybox="janna-revs")
							img.revs_img( src="img/revs/janna_rev_11.jpg" alt="Отзыв 11")
					.janna_rev_item
						a( href="img/revs/janna_rev_12.jpg" data-fancybox="janna-revs")
							img.revs_img( src="img/revs/janna_rev_12.jpg" alt="Отзыв 12")
					.janna_rev_item
						a( href="img/revs/janna_rev_13.jpg" data-fancybox="janna-revs")
							img.revs_img( src="img/revs/janna_rev_13.jpg" alt="Отзыв 13")
					.janna_rev_item
						a( href="img/revs/janna_rev_14.jpg" data-fancybox="janna-revs")
							img.revs_img( src="img/revs/janna_rev_14.jpg" alt="Отзыв 14")
					.janna_rev_item
						a( href="img/revs/janna_rev_15.jpg" data-fancybox="janna-revs")
							img.revs_img( src="img/revs/janna_rev_15.jpg" alt="Отзыв 15")
					.janna_rev_item
						a( href="img/revs/janna_rev_16.jpg" data-fancybox="janna-revs")
							img.revs_img( src="img/revs/janna_rev_16.jpg" alt="Отзыв 16")
		.owl-carousel.owl-theme#janna_videos
			.video_wrapper.video_wrapper_revs(data-youtube="5TAaHAsO5Ls" data-img="img/revs/video_12.jpg")
				img.video_rev_img(src="img/revs/video_12.jpg", alt="Отзыв о Жанне Абрамовой 12")
			.video_wrapper.video_wrapper_revs(data-youtube="LXk3lZmGwXE" data-img="img/revs/video_1.jpg")
				img.video_rev_img(src="img/revs/video_1.jpg", alt="Отзыв о Жанне Абрамовой 1")
			.video_wrapper.video_wrapper_revs(data-youtube="CdQ1lkDt7kw" data-img="img/revs/video_2.jpg")
				img.video_rev_img(src="img/revs/video_2.jpg", alt="Отзыв о Жанне Абрамовой 2")
			.video_wrapper.video_wrapper_revs(data-youtube="ZYj9aA7leys" data-img="img/revs/video_3.jpg")
				img.video_rev_img(src="img/revs/video_3.jpg", alt="Отзыв о Жанне Абрамовой 3")
			.video_wrapper.video_wrapper_revs(data-youtube="5SpyXav8M8M" data-img="img/revs/video_4.jpg")
				img.video_rev_img(src="img/revs/video_4.jpg", alt="Отзыв о Жанне Абрамовой 4")
			.video_wrapper.video_wrapper_revs(data-youtube="tGSb4qLgGgM" data-img="img/revs/video_5.jpg")
				img.video_rev_img(src="img/revs/video_5.jpg", alt="Отзыв о Жанне Абрамовой 5")
			.video_wrapper.video_wrapper_revs(data-youtube="VjuPEjRgWt0" data-img="img/revs/video_6.jpg")
				img.video_rev_img(src="img/revs/video_6.jpg", alt="Отзыв о Жанне Абрамовой 6")
			.video_wrapper.video_wrapper_revs(data-youtube="YE9_dU9n4hI" data-img="img/revs/video_7.jpg")
				img.video_rev_img(src="img/revs/video_7.jpg", alt="Отзыв о Жанне Абрамовой 7")
			.video_wrapper.video_wrapper_revs(data-youtube="Jc7Q1ksCYow" data-img="img/revs/video_8.jpg")
				img.video_rev_img(src="img/revs/video_8.jpg", alt="Отзыв о Жанне Абрамовой 8")
			.video_wrapper.video_wrapper_revs(data-youtube="jt5DAatjgug" data-img="img/revs/video_9.jpg")
				img.video_rev_img(src="img/revs/video_9.jpg", alt="Отзыв о Жанне Абрамовой 9")
			.video_wrapper.video_wrapper_revs(data-youtube="3XZIIJ-IbTk" data-img="img/revs/video_10.jpg")
				img.video_rev_img(src="img/revs/video_10.jpg", alt="Отзыв о Жанне Абрамовой 10")
			.video_wrapper.video_wrapper_revs(data-youtube="IdwOn-9rYCI" data-img="img/revs/video_11.jpg")
				img.video_rev_img(src="img/revs/video_11.jpg", alt="Отзыв о Жанне Абрамовой 11")