section#vip
	.container
		h3.vip_title ВИП-часть
		ul.vip_list
			li Обучение системным расстановкам по методике Гештальт-терапии (методика Берта Хеллингера + гештальт проработка)
			li Обучение методу «Квантовый скачок»
			li Обучение методу «Регрессионный гипноз»
		h3.general_title.general_title_light.general_title_vip 
			span Для кого
			|&nbsp;эта часть экспресс-курса:
		.row
			.col-md-6.col-sm-6
				.vip_for_item
					h4.vip_for_item_title.vip_for_item_1 Для терапевтов,
					p.vip_for_item_text которые хотели бы повысить свою квалификацию, либо научиться методам:
					ul.vip_list.vip_for_item_list
						li Системных расстановок (системно-интеграционная модель системной терапии)
						li Методу «Квантовый скачок»
						li Проведению сессий по регрессии (опыт Души)
			.col-md-6.col-sm-6
				.vip_for_item
					h4.vip_for_item_title.vip_for_item_2 Для клиентов
					p.vip_for_item_text которые хотели прочистить травмы собственной жизни; родовые травмы и наследственные негативные факторы, влияющие на текущую жизнь; перепрожить негативное влияние памяти  прошлых воплощений,
		.vip_info.vip_info_1
			h4.vip_info_title Метод Системных расстановок —
			p.vip_info_text 
				span Возможность решить обозначенную человеком проблему 
				| путем поиска причины в его родословной, где нерешенная одним или несколькими поколениями жизненная задача проявилась в настоящем клиента
			p.vip_info_text Расстановка помогает войти в контакт с любым когда-либо жившим представителем рода (семейной системы) и помочь «ему» (т. е. себе) в настоящее время разрешить любой внутренний конфликт, возникший по той или иной причине
			p.vip_info_text Самый быстрый и эффективный метод по исцелению любого недуга (деньги, отношения, здоровье, самоконфликты и т. д.)
		.vip_info.vip_info_2
			h4.vip_info_title Метод «Квантовый скачок» —
			p.vip_info_text 
				span Резкий переход из текущей модели бытия 
				| в вариант бесчисленного множества вариантов развития судьбы
			p.vip_info_text Метод признан волшебным методом в силу того, что при резком переходе из одной реальности в другую, мы кардинально меняем ход событий жизни
			p.vip_info_text В нашем понимании реальность есть то, что существует независимо от нас. Восприятие реальности происходит в нашей голове. Поэтому реальность имеет определенные знакомые нам мысли-формы
			p.vip_info_text Методом Квантового скачка в нашей голове изменяются мысли-формы, приводящие к альтернативному (желаемому) исходу судьбы
		.vip_info.vip_info_3
			h4.vip_info_title Регрессивная терапия —
			p.vip_info_text 
				span Обращаясь к прошлому и глубинной памяти человека, 
				| регрессология направляет человека в прохождение и прожитие кризисных ситуаций этой жизни и прошлых воплощений заново, где в рамках сеанса регрессивной терапии появляются новые возможности выхода из травмирующих обстоятельств прошлого, которые негативным образом влияют на настоящее
		.clearfix
		h3.general_title.general_title_light.general_title_vip_2 ВИП дни экспресс-обучения 
			span дадут Вам:
		.row
			.col-md-4.col-sm-4
				ol.vip_ol_list.vip_ol_list_1
					li Научитесь гештальт-ведению системных расстановок (самый быстрый способ исцеления полевой проблемы)
					li Научитесь быстро находить резонирующую проблему в «поле» человека и закрывать ее
					li Узнаете, как выходить из положения, если расстановка зашла в тупик
					li Начнете сами проводить системные расстановки.
			.col-md-4.col-sm-4
				ol.vip_ol_list.vip_ol_list_2
					li Научитесь методу быстрого смещения проблемы через Квантовый скачок (экспресс метод по перемещению человека от проблемы в ресурс)
					li Научитесь проводить сессии по регрессии
					li Получите авторские техники по ведению регрессии
					li Получите сертификат специалиста, работающего по методу МВ
			.col-md-4.col-sm-4
				ol.vip_ol_list.vip_ol_list_3(start="9")
					li Получите полное описание проведения сессий по регрессии
					li Уже на обучении сможете квантово перемещать проблемы в пространстве многочисленных вариантов и находить свой наиболее благоприятный вариант
		a.button.button_yellow.button_vip(href="#prices") Участвовать