#authors
	padding 60px 0 15px
.janna_img
	width 425px
	height 505px
	background-image url(../img/janna_about.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: contain
	display block
	margin 0 auto 30px
.author_title
	font-size: 32px;
	color: rgb(55, 122, 105);
	text-transform: uppercase;
	line-height: 1;
	text-align: center
	display: inline-block
	margin-bottom: 25px
	border: 2px solid #377a69
	padding 12px 10px
	small
		display block
		margin-top: 20px
		text-transform: none
		font-size: 18px
.author_text
	margin-bottom: 10px
	line-height: 24px
.author_list
	li
		position relative
		color #000
		margin-bottom: 5px
		padding-left: 17px
		list-style none
		&:before
			content: ''
			display block
			height 17px
			width 9px
			position: absolute
			left 0
			top 3px
			background-image url(../img/rects.png)
			background-repeat no-repeat
			background-position -9px 0
		&:last-child
			margin-bottom: 0
.anna_nika
	margin 0 auto
	width 506px
	height 424px
	background-image url(../img/anna_nika.jpg)
	background-repeat no-repeat
	background-position: center
	background-size contain