footer
	background: #242933
	position relative
	padding: 20px 0
	text-align: center
footer
	h5
		font-size: 22px;
		font-family: "Pattaya", serif;
		font-weight: bold
		font-style: italic
		color: rgb(255, 255, 255);
	p
	#conditions
		font-size: 14px;
		color: rgba(255, 255, 255, 0.6);
		line-height: 1.786;
	#conditions
		text-decoration underline
		&:hover
		&:focus
			text-decoration none
.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 20px 8px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-color #fedc18
			color #377a69
			line-height 26px
			border: 2px solid #377a69
			transition: all .2s ease
			&:hover
				background-color #377a69
				color #fedc18
				line-height 26px
				border: 2px solid #fedc18