#get
	padding 35px 0
.get_item
	margin-bottom:  35px
	position relative
	z-index 6
	height 193px
	&:before
		content: ''
		display block
		position: absolute
		border-radius: 150px
		width: 153px
		height 153px
		line-height 140px
		background-color:  #f5f8f7
		text-align: center
		font-size: 150px
		color #fff
		margin 0 auto
		top 0
		left 0
		right 0
		z-index -1
		top: calc(50% - 75px)
.get_item_1
	&:before
		content: '1'
.get_item_2
	&:before
		content: '2'
.get_item_3
	&:before
		content: '3'
.get_item_4
	&:before
		content: '4'
.get_item_5
	&:before
		content: none
.get_item_title
	font-size: 22px;
	font-family: "AkrobatBold", sans-serif;
	color: rgb(55, 122, 105);
	text-transform: uppercase;
	line-height: 1.091;
	margin-bottom: 10px
.get_item_text
	line-height: 1.5
.get_item_5
	text-align: center
	height auto