#main
	padding 0 0 60px
	background-color: #274C78
	background-image url(../img/main_border.png), url(../img/main_bg.jpg)
	background-repeat: repeat-x, no-repeat
	background-position:  center bottom, center top
	background-size: auto, cover
header
	padding 15px 0
	overflow hidden
	margin-bottom: 35px
#logo
	width: 250px
	height auto
	float left
.contacts
	float: right
.contact
	line-height: 35px
	font-size: 16px
	font-family: "Arial", sans-serif
	color  #fff
	.fa
		margin 0 8px 0 12px
		font-size: 20px
		vertical-align: middle
		&+span
			vertical-align: middle
	&:focus
		color  #fff
		text-decoration: none
	&:hover
		color #fff
		text-decoration: underline
.contact_tel
	&:first-of-type
		.fa
			margin-left: 0
.main_container
	background-color: rgba(55,122,105, .9)
	padding 45px 30px
	text-align: center
	color #fff
.pre
	font-size: 30px
.main_title
	color #ffe013
	font-family: "AkrobatExtraBold", sans-serif
	font-size: 36px
	margin 15px 0 30px
	text-transform: uppercase
.main_info
	&:last-of-type
		margin 15px 0 20px
	span
		display: inline-block
.main_authors
	width 100%
	max-width 470px
	margin 0 auto
.main_authors_img
	width  98px
	height 98px
	margin 0 auto
	background-image url(../img/main_authors.png)
	background-repeat no-repeat
	background-size cover
	border-radius: 50px
.main_authors_img_1
	background-position 0 0
.main_authors_img_2
	background-position -98px 0
.main_authors_img_3
	background-position -196px 0
.main_authors_name
	margin 15px 0 30px