@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.for_item
		height 220px
	.day_info
	.buy
		max-width 960px
	.vip_info
		max-width 1100px
	.vip_for_item_title::before
		max-width 240px
	.vip_for_item_2::before
		max-width 250px
	.prepayment_text
		margin 55px 0 63px
	footer #conditions, footer p
		font-size: 16px
@media screen and (max-width 1199px)
	.for_item
		height 252px
	.get_item
		height 220px
	.get_item_5
		height auto
	.day_img
		left -127px
	.vip_for_item_title::before
		max-width 140px
	.vip_for_item_2::before
		max-width 150px
	.vip_info
		max-width 816px
		padding 25px 30px 25px 205px
		background-position: left 60px center
	.author_title
		font-size: 27px
	.revs_img
		height 200px
@media screen and (max-width 991px)
	#main
		padding 0 0 40px
	header
		margin-bottom: 10px
	#logo
		width 180px
		display block
		margin 0 auto 5px
		float: none
	.contacts
		text-align: center
		float: none
	.contact
		line-height: 20px
		margin 0 5px
		display: inline-block
		.fa
			margin 0 5px
	.main_container
		padding 30px 20px
	.for_item
		height 392px
		padding 30px 20px 20px
		height 288px
	.get_item
		height 298px
	.get_item_5
		height auto
	.day_img
		display: none
	.day_info_title
		position: static
		margin-bottom: 20px
	#plan
		padding-bottom: 40px
	.vip_for_item_title::before
		max-width 85px
	.vip_for_item_2::before
		max-width 95px
	.vip_info
		padding 100px 20px 20px
		background-position: center top 15px
		border: 2px solid #ffe100
		&:before
		&:after
			content: none
	.vip_info_title
		top: 45px
		left 0
		right 0
		margin 0 auto
		text-align: center
	.vip_ol_list li
		margin-bottom: 30px
		padding-left: 60px
	.button_vip
		margin-top: 20px
	#authors
		padding 40px 0 15px
	.janna_img
		width 360px
		height 385px
	.anna_nika
		margin: 40px auto 25px
	#revs
		padding 15px 0 40px
	#prices
	#place
		padding 40px 0
@media screen and (max-width 767px)
	.for_item
		height auto
		display block
		text-align: center
	.for_item_text
		display block
	.for_item_2
	.for_item_4
	.for_item_6
	.for_item_8
	.for_item_10
	.for_item_12
		background-color: #007b68
		.for_item_text
			color #fff
	.for_item_5
	.for_item_11
		background-color #fff
		.for_item_text
			color #377a69
	.get_item
		height auto
		text-align: center
	.get_item::before
		height 100px
		width 100px
		font-size: 100px
		line-height: 90px
		top calc(50% - 50px)
	.vip_for_item_title::before
		max-width 35%
	.vip_for_item_title::after
	.vip_for_item_2::after
		display block
		max-width 35%
	.vip_for_item_2::after
		left 0
	.vip_info_1
		margin-top: 30px
	.vip_ol_list li
		display: flex
		align-items: center
		height 47px
		margin-bottom: 20px
		&:before
			top 0
	.prepayment
		margin-top: 30px
	.prepayment_text
		margin 10px 0 20px
	.anna_nika
		margin-top: 20px
	.author_list
		margin-bottom: 20px
	#janna_revs
		margin-top: 40px
	.place_container_text
		text-align: center
	.place_img
		width 100%
		height 100px
		background-size: cover
@media screen and (max-width 610px)
	.day_info_list
		width 100%
		float: none
		&:last-of-type
			margin-top: 5px
	.anna_nika
		width 100%
		height 360px
	.vip_for_item_title::after, .vip_for_item_title::before
		max-width 30%
@media screen and (max-width 485px)
	header
		margin-bottom: 0
	.contact
		font-size: 12px
		line-height: 12px
		.fa
			font-size: 14px
	.main_container
		padding 20px 15px 25px
	.pre
		font-size: 22px
	.main_title
		font-size: 28px
		margin 10px 0 20px
	#for
		padding 20px 0
	.for_title
	.for_text
	.day
		margin-bottom: 20px
	.for_text:last-of-type
		margin-bottom: 30px
	.general_title
		font-size: 26px
		margin-bottom: 30px
	.general_title_for
		margin-bottom: 45px
	.for_item
		padding 30px 15px 15px
	.for_text
		text-align: center
	.get_item
		margin-bottom: 20px
	#plan
		padding 20px 0 30px
	.day_info_title
		font-size: 40px
		height 45px
		width 120px
	.day_info
		padding: 15px
	#vip
		padding 40px 0
	.vip_title
		font-size: 40px
		margin-bottom: 30px
	.vip_info
		margin-bottom: 20px
		padding 15px
		background-image: none
	.vip_info_title
		position: static
		margin-bottom: 10px
	.buy
		padding 20px 20px 30px
	.prepayment
		margin-top: 20px
	.prepaymant_title
		font-size: 32px
	.janna_img
		width 320px
		margin-bottom: 20px
	.author_title
		font-size: 24px
		margin-bottom: 20px
	.anna_nika
		width 320px
		height 260px
		margin 20px auto
	.author_title small
		margin-top: 10px
	.revs_img
		height 150px
	#janna_revs,#janna_videos, #ray_videos
		margin-top: 20px
	#revs
		padding-bottom: 30px
	.place_container
		padding 20px 20px 30px
	.place_container_title
		font-size: 28px
	.place_container_text
		margin  15px 0 20px
	footer
		padding 15px 0
	footer h5
		font-size: 18px
	.soc_buttons a
		margin 12px 5px
	footer #conditions, footer p
		font-size: 12px
	.get_item_text
		line-height: 1.3
		text-align: justify
	.vip_list
		margin-bottom: 30px
	.vip_info_text
	.for_item_text
	.for_text
	.vip_for_item_text
	.author_text
	.place_container_text
		text-align: justify
	.vip_ol_list li
		min-height 47px
		height auto
@media screen and (max-width 425px)
	.col-xs-4
		width 100%
	.place_img
		width 200px
		background-size: contain;
		background-position: center
@media screen and (max-width 380px)
	#logo
		width 160px
		margin-bottom: 0
	.main_container
		padding 15px 15px 20px
	.pre
		font-size: 20px
	.main_title
		font-size: 24px
		margin-bottom: 15px
	.main_info:last-of-type
		margin 10px 0 20px
	.main_authors_name
		margin 5px 0 20px
	.button
		font-size: 30px
	#for
		padding 15px 0
	.for_title
		font-size: 20px
		line-height: 1.3
	.general_title
		font-size: 22px
	.for_item
		padding 27px 15px 15px
	.get_item_title
		font-size: 20px
	#get
		padding 30px 0
	.vip_for_item_title::after, .vip_for_item_title::before
		max-width 19%
	.vip_info
		margin-top: 20px
	.vip_ol_list li
		display block
		min-height 1px
	.button_vip
		margin-top: 10px
	#vip
	#place, #prices
		padding 30px 0
	.buy
		padding 15px 15px 20px
	.cost
		font-size: 32px
	.right_now
		font-size: 24px
	#authors
		padding-top:  30px
	.janna_img
		width 250px
		height 300px
	.author_title
		font-size: 20px
		margin-bottom: 10px
	.anna_nika
		width 250px
		height 200px
		margin-top: 10px
	.revs_img
		height 100px
	.place_container
		padding 15px 15px 20px
	.place_container_title
		font-size: 24px
	.place_img
		margin-bottom: 10px
	.button_place
		margin-top: 15px