#place
	padding 60px 0
	background-color: #8E965C
	background-image url(../img/place_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.place_container
	width 100%
	max-width 860px
	margin: 0 auto
	background-color: rgba(55,122,105, .9)
	padding 40px 35px
	color #fff
.place_container_title
	text-align: center
	font-size: 36px
.place_container_text
	margin 20px 0 25px
	span
		color #fedc18
.place_img
	width 192px
	height 129px
	margin 0 auto 25px
	background-image url(../img/place_img.jpg)
	background-repeat no-repeat
	background-position 0 0
.place_img_2
	background-position -192px 0
.place_img_2
	background-position -384px 0