#prices
	padding 55px 0
	background-color: #3F3D4B
	background-image url(../img/prices_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.buy
	padding 35px 35px 50px
	background-color:  rgba(55,122,105, .9)
	width 100%
	max-width 750px
	margin 0 auto
	text-align: center
.cost
	font-size: 36px
	color #f2e9d8
	margin 0 0 10px
	span
		display block
		color #ffe013
		font-family: "AkrobatExtraBold", sans-serif;
.right_now
	font-size: 26px
	color #ffffff
	position relative
	&:after
		content: ''
		display block
		width 85px
		height 45px
		background-image url(../img/prices_arrow.png)
		background-repeat no-repeat
		background-position: center
		margin 20px auto
.prepayment
	width 100%
	max-width 650px
	margin 0 auto
	text-align: center
.prepaymant_title
	font-size: 36px
	font-family: "AkrobatExtraBold", sans-serif
	color red
.prepayment_text
	font-size:   22px
	color #fff
	margin 40px 0 50px