#revs
	padding 15px 0 50px
.revs_img
	height 436px
	border:  2px solid #377a69
	width 100%
	object-fit:  contain
	object-position:  center
.owl-theme .owl-nav [class*="owl-"]
	width 50px
	height 50px
	background-color: transparent
	color #dcbe10
	border: 2px solid #f9dd1a
	text-align: center
	font-size: 46px
	line-height: .6
	padding 5px 0
	font-family: "AkrobatBold", sans-serif;
	transition: all .3s ease
	&:hover
		border-color: #377a69
		color #377a69
		background-color: #f9dd1a
#janna_videos
	margin-top: 40px
.video_wrapper_revs img
.video_wrapper_revs iframe
	border 2px solid #377a69